* {
	font-size: 16px;
	outline: none;
}
body {
	font-family: 'Droid Serif', serif;
	color: #333;
}
.content {
	margin: 100px auto 50px auto;
	padding: 10px;
	width: 100%;
	max-width: 1200px;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	background: #eee;
	width: 100%;
	height: 30px;
}
.super {
	font-size: 14px;
	padding: 1px 3px;
	border-radius: 2px;
	background: #384750;
	color: #fff;
	display: inline-block;
}

button {
	display: inline-block;
	border-radius: 3px;
	border: none;
	font-size: 0.9rem;
	padding: 0.4rem 0.8em;
	background: #69c773;
	border-bottom: 1px solid #498b50;
	color: white;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	margin: 0 0 1em;
	text-align: center;
}

button:hover, button:focus {
	opacity: 0.75;
	cursor: pointer;
}

button:active {
	opacity: 1;
	box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}
