/** fonts **/
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Serif'), local('DroidSerif'), url(../fonts/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 700;
	src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	font-size: 16px;
	outline: none !important;
}
body {
	font-family: 'Droid Serif', serif;
	color: #333;
	overflow-y: hidden;
}
.container {
	margin-top: 20px;
}
footer .container {
	margin-top: 6px;
}
.hr {
	position: absolute;
	width: 100%;
	height: 82px;
	background: #efefef;
	border-bottom: 1px solid #aaa;
	left: 0;
	top: 0;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #eee;
	width: 100%;
	height: 30px;
	border-top: 1px solid #aaa;
}
footer * {
	font: 12px Helvetica, Arial;
}
.modal * {
	font-size: 14px;
}
.nav-tabs {
	border-bottom: 1px solid #bbbbbb !important;
}
.nav-tabs>li>a:hover {
	 border-color: transparent !important;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent !important;
}
.nav-tabs>li.active>a:hover {
	 border-color: #aaa #aaa #fff #aaa !important;
}
.nav>li.active>a:focus, .nav>li.active>a:hover {
	background-color: #fff !important;
}

.editor .markdown-body {
	margin: 0 auto 50px auto;
	padding: 10px;
	width: 100%;
	max-width: 1200px;
}
.editor .source {
	width: 48%;
	float: left;
	font: 12px "Courier New";
	overflow-x: auto;
	display: none;
}

.editor.active {
	padding: 10px;
}

.editor.active .source {
	display: block;
}
.editor.active .markdown-body {
	float: right;
	width: 48%;
}

code::selection {
	background: transparent;
}
code {
	cursor: pointer;
	position: relative;
	display: inline-block;
	border: 1px solid #aaa;
	line-height: 120%;
	padding: 1px 6px;
}
code:focus {
	background: #f2be38 !important;
	border-color: rgb(137, 37, 0) !important;
	color: rgb(137, 37, 0) !important;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .4) !important;
}
code:focus:after {
	content: "Copied to clipboard";
	letter-spacing: 0;
	font: 10px/100% Arial;
	display: inline-block;
	background: #555;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
	padding: 3px 6px;
	border-radius: 1px;
	position: absolute;
	left: 0;
	top: -18px;
	opacity: 0;
	animation: 5s pulse linear;
	white-space: nowrap;
}
.nav {
	padding-left: 0 !important;
}
.new a {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.delete-tab {
	font-size: 90%;
	visibility: hidden;
}
a:hover .delete-tab {
	visibility: visible;
}
a .delete-tab:hover {
	color: #a94442;
}
.tab-name-input {
	border: 0;
	outline: none;
	background: transparent;
	color: #888 !important;
	cursor: pointer;
	font-size: 16px;
	width: 150px;
	font-weight: bold;
	text-align: center;
}
.active .tab-name-input,
.tab-name-input:hover {
	color: #585858 !important;
}
.tabs a {
	cursor: pointer !important;
}
.tab.active a {
	border-color: #aaa #aaa #fff #aaa !important;
}
.main-nav {
	position: relative;
	margin-top: 10px;
}
.add-new-tab {
	position: absolute;
	right: 0;
	top: 0;
	margin: 7px;
}
.sort-handler i {
	font-size: 210%;
	margin-top: 2px;
	color: #aaa;
	cursor: move;
}
.link-group-item-placeholder {
	height: 34px;
	margin-bottom: 15px;
	border: 2px dashed #bbb;
}
.links {
	position: absolute;
	left: 0;
	top: -26px;
}
.links a {
	font: 12px Helvetica, Arial;
	color: #555;
}
.links li:after {
	content: '/';
	margin-left: 10px;
	font-size: 14px;
	color: #aaa;
}
.links li:last-child:after {
	color: #efefef;
}
@keyframes pulse {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*---------------------------------------------------------------------------*/
								/*Modal popup*/
.modal-content{
	background-color: unset !important;
}
.modal-header{
	border-radius: 5px 5px 0 0;
}
.bg-danger .modal-title{
	font-size: 16px !important;
}
.bg-danger .tab-name{
	font-weight: bold !important;
	font-style: italic !important;
	font-size: 16px !important;
}
.modal-body {
	background-color: white !important;
}

.modal-body p{
	font-size: 15px !important;
	margin: unset;
}

.modal-footer{
	background-color: #efefef !important;
	border-top: none;
	border-radius: 0 0 5px 5px;
	padding: 10px;
}

/*---------------------------------------------------------------------------*/
								/*body*/
.markdown-body code {
	border-radius: 5px;
}

.btn-default {
    color: #616161;
	border-color: #ccc;
	font-weight: bold;
}

.markdown-body {
	color: #585858;
}

textarea.source {
	border-radius: 5px;
}
/*---------------------------------------------------------------------------*/
								/*Dark mode*/
.dark-mode-switch{
	position: absolute;
	top: -23px;
	right: 7px;
	margin: unset;
}

.dark-mode-switch > span{
	color: #585858;
	font-size: 14px !important;
	font-weight: bold;
}

label.switch {
  position: relative;
  width: 30px;
  height: 17px;
  margin: unset;
  top: 3px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #505d5d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background-color: #ccc;
}